
.cards{
  margin-top: 50px;
  margin-left: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  
}

.btn{
  margin-left: 5px;
  margin-top: 5px;
}
